<!DOCTYPE html>

<html>

<head>
    <title>My todolist</title>
    <style>
        a {text-decoration: none; color: black;}
       

    </style>


</head>

<body bgcolor="grey">
    <div align="center">
        <h1>My todolist</h1>
    </div>

    <ul style="margin-left:40%">
        <% todolist.forEach(function(todo, index) { %>
        <li><a href="/todo/delete/<%= index %>">✘</a>
            <%= todo %>
        </li>
        <% }); %>
    </ul>
    <div align="center">
        <form action="/todo/add/" method="post">



            <p>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" />
            </p>

            </ul>
        </form>
        <form action="/todo/deleteall/" method="post">
            <input type="submit" value="Delete All" />
        </form>
    </div>

</body>

</html>